.CreateOrder {
    display: flex;
    justify-content: center;
    padding: 20px, 0;
    /* width: 700px; */
}

.CreateOrderButton {
    /* display: flex;
    align-self: center; */
}

.CreateOrderChoiseDelivery {
    display:flex; 
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.CreateOrderChoiseDelivery,
.CreateOrderPayment,
.CreateOrderInputEmail {
    width: 100%;
    min-height: 200px;
}

.CreateOrderDeliverySdek,
.CreateOrderInputEmail {
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.CreateOrderInputEmail {
    flex-direction: column;
}

.CreateOrderInputEmail label {
    font-size: 20px;
}

.CreateOrderInputEmail Input {
    width: 250px;
}

.CreateOrderInputEmail Button {
    margin-top: 20px;
}