
.RequestProduct {
    font-weight: 800;
    padding: 5px 10px;
}

.RequestProductSuccess {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RequestProductNotification_Cart {
    display: flex; 
    justify-content: space-between; 
}

.RequestProductNotification_Cart_product {
    display: flex; 
    justify-content: space-between; 
}
.RequestProductNotification_Cart_product_image {
    margin-right: 10px;
}
.RequestProductNotification_Cart_product_name {
    color: green;
}
.RequestProductNotification_Cart_product_article {
    font-size: 14px;
    color: grey;
}


.RequestProductNotification_fields {
    height: 200px;
    display: flex;
    justify-content: center;
    border: 1px dashed lightgray;
    padding-top: 10px;
    padding-bottom: 15px;
}

.RequestProductNotification_fields label,
.RequestProductNotification_fields input {
    font-size: 1.2rem;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.RequestProductNotification_DivButtons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.RequestProductNotification_DivButtons Button {
    margin: 10px;
    padding: 10px 5px;
    font-weight: 700;
}


@media (max-width: 991px) {
    .RequestProductNotification_Cart {
        flex-wrap: wrap;
    }
    .RequestProductNotification_Cart_product {
        flex-direction: column;
    }
    .RequestProductNotification_fields label {
        display: none;
    }
}
