.DeliveryDL {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.DeliveryDL hr {
    width: 100%;
    margin: 5px;
    padding: 0;
}

.DeliveryDL_Tooltip {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.DeliveryDL_LeftPanel {
    position: absolute;
    z-index: 1000;
    background: white;
    opacity: 0.9;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 0;
}

.DeliveryDL_LeftPanel_Box {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.DeliveryDL_LeftPanel_Box_LabelIndex {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.DeliveryDL_LeftPanel_TotalSumm {
    margin: 0 10px 5px 10px;
    padding: 0;
    font-size: 16px;
}

.DeliveryDL_ListCities {
    margin-top: 2px;
    border: 1px solid lightgrey;
    padding: 5px 10px 0 10px;
    min-width: 150px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.DeliveryDL_ListCities p {
    padding-top: 10px;
    cursor: pointer;
}

.DeliveryDL_ListCities hr {
    margin: 2px;
} 