.RgkParserPage {
    margin: 0;
}

.RgkParserPage_Header {
    display: flex;
    flex-direction: column;
}

.RgkParserPage_Header button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid silver;
}

.RgkParserPage_Header label {
    text-align: center;
}