
# dependencies
node_modules
*/node_modules

# production
/build

# environment
.env

# databases
mern.sql

# lock
package-lock.json
*/package-lock.json

# temp
/temp

# build file
b
*/b

# bat files
*.bat

# repair files (repair run and repair stop)
rr
*/rr
rs
*/rs
