.CreateOrderPage {
    display:flex; 
    flex-direction: column;
    
    align-items: center; 
    justify-content: center;
}

.CreateOrderPageTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.CreateOrderPageBody {
    /* display:flex;
    align-items: center; 
    justify-content: center; */
}

.CreateOrderPageBodyMessage {
    color: red;
    text-align: center;
    width: 100%;
}

.CreateOrderPageChoiseDelivery {
    display:flex; 
    align-items: center; 
    justify-content: space-around;
    flex-wrap: wrap;
}

.CreateOrderPageChoiseDelivery div {
    position: relative;
}

.CreateOrderPageChoiseDelivery p {
    position: absolute;
    bottom: -30px;
    left: 20px;
    font-size: 16px;
}

.CreateOrderPagePayment {
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-direction: column;
}

.CreateOrderPageChoiseDelivery,
.CreateOrderPagePayment,
.CreateOrderPageInputEmail {
    width: 100%;
    min-height: 150px;
}

.CreateOrderPageDeliverySdek,
.CreateOrderPageInputEmail {
    display:flex; 
    align-items: center; 
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.CreateOrderPageInputEmail {
    flex-direction: column;
    text-align: center;
}

.CreateOrderPageInputEmail label {
    font-size: 20px;
}

.CreateOrderPageInputEmail Input {
    width: 250px;
}

.CreateOrderPageInputEmail Button {
    margin-top: 20px;
}

.CreateOrderPageInputEmail span {
    padding: 0 20px;
    font-size: 16px;
}

.CreateOrderPageInputEmail div {
    font-size: 20px;
    padding: 20px;
}