:root {
    --max-height-box-mainpage: 120px;
    --mid-height-box-mainpage: 100px;
    --min-height-box-mainpage: 80px;
}

.MainPage {
    background-color: rgb(250, 235, 215);
}

.MainPage,
.MainPage_box,
.MainPage_box_body,
.MainPage_box_body_item,
.MainPage_box_body_item_title,
.MainPage_box_body_item_examples,
.MainPage_box_body_item_image,
.MainPage_box_body_brand,
.MainPage_box_body_brand_item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainPage_box {
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 20px 0;
}

.MainPage_box_body {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin-top: 20px;
    justify-content: space-around;
}

.MainPage_box_body_item {
    width: 22%; /* 4шт на экране */
    font-size: 1rem;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.MainPage_box_body_item_title {
    height: 100px;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 10px 5px 15px 5px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.MainPage_box_body_item_examples {
    text-align: center;
    flex-direction: column;
    height: 270px;
    padding-top: 10px;
}

.MainPage_box_body_item_examples p {
    padding: 0 5px;
}

.MainPage_box_body_item_image {
    width: 250px;
    height: 250px;
}
.MainPage_box_body_item_image img {
    max-width: 100%;
    max-height: 100%;
}

.MainPage_box_body_brand {
    width: 70%;    
    flex-direction: row;
    flex-wrap: wrap;
}
.MainPage_box_body_brand_item {
    min-width: 50%;
    font-size: 2rem;
}

.MainPage_box_body_item,
.MainPage_box_body_brand_item {
    border: 1px dashed lightgrey;
    background-color: white;
}

.MainPage_box_body_brand_item {
    cursor: pointer;
    height: var(--max-height-box-mainpage);
}

.MainPage_box_body_brand_item:hover {
    background-color: silver;
    color: #fff;
}


@media(max-width: 1150px) {
    .MainPage_box_body_item_title {
        font-size: 1rem;
    }
    .MainPage_box_body_item_examples {
        font-size: 0.9rem;
    }
    .MainPage_box_body_item_image {
        width: 200px;
        height: 200px;
    }
}
@media(max-width: 991px) {
    .MainPage_box_body_item {
        width: 30%; /* 3шт на экране */
    }
    .MainPage_box_body_brand_item {
        height: var(--mid-height-box-mainpage);
    }
}

@media(max-width: 700px) {
    .MainPage_box{
        margin: 10px 0;
    }
    .MainPage_box_body {
        margin: 10px 0;
    }
    .MainPage_box_body_item_image {
        width: 180px;
        height: 180px;
    }
    .MainPage_box_body_item_examples {
        height: 335px;
    }
}
@media(max-width: 650px) {
    .MainPage_box_body_item {
        width: 47%; /* 2шт на экране */
    }
    .MainPage_box_body_brand_item {
        height: var(--min-height-box-mainpage);
    }
}

@media(max-width: 390px) {
    .MainPage_box_body_item_title {
        height: 80px;
    }
    .MainPage_box_body_item_examples {
        height: 250px;
    }
    .MainPage_box_body_item {
        width: 90%; /* 1шт на экране */
    }
    .MainPage_box_body_item_image {
        width: 250px;
        height: 250px;
    }
}
