.DeliverySdek {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.DeliverySdekTooltip {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.DeliverySdek hr {
    width: 100%;
    margin: 5px;
    padding: 0;
}

.DeliverySdekLeftPanel {
    position: absolute;
    z-index: 1000;
    background: white;
    opacity: 0.9;
    padding-right: 10px;
    margin-top: 20px;
    margin-left: 0;
}

@media(max-width: 1000px) {
    .DeliverySdekLeftPanel {
    }
}

.DeliverySdekLeftPanel_TotalSumm {
    margin: 0 10px 5px 10px;
    padding: 0;
    font-size: 16px;
}

.DeliverySdekLeftPanelBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.DeliverySdekLeftPanelBox_LabelIndex {
    margin: 0;
    padding: 0;
    font-size: 16px;
}