.DeliverySdek {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    /* min-height: 400px; */
    /* background-color: pink; */
}

.DeliverySdek p {
    font-size: 16px;
    line-height: 2px;
}

.DeliverySdek hr {
    width: 100%;
    margin: 5px;
    padding: 0;
}

.DeliverySdekLeftPanel {
    position: absolute;
    /* top: 40px;
    left: 25px; */
    /* display: none; */
    z-index: 1000;
    background: white;
    opacity: 0.9;
    padding-right: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

@media(max-width: 1000px) {
    .DeliverySdekLeftPanel {
        margin-top: 5px;
        margin-left: 5px;
    }
}

.DeliverySdekLeftPanel_TotalSumm {
    margin: 0 10px 5px 10px;
    padding: 0;
    font-size: 16px;
}

.DeliverySdekLeftPanelBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.DeliverySdekLeftPanelBox_LabelIndex {
    margin: 0;
    padding: 0;
    font-size: 16px;
}