
.ParserPage_Header {
    display: flex;
    flex-direction: column;
}

.ParserPage_Header button {
    padding: 10px;
    margin: 5px;
}

.ParserPage_Header label {
    text-align: center;
}

.ParserPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ParserPage_inputBox {
    padding: 10px;
    width: 500px;
    border: 1px solid lightgray;
    font-size: 16px;
}

.ParserPage_box {
    border: 1px dashed lightgray;
    display: flex;
    flex-direction: column;
}

.ParserPage_box_file {
    margin: 15px;
}

.ParserPage_box_input {
    margin: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.ParserPage_box button {
    padding: 10px;
    margin: 5px;
}

.ParserPage_box_div {
    margin: 0 15px;
    font-size: small;
    cursor: pointer;
}

.ParserPage label,
.ParserPage_box label {
    text-align: center;
    width: 100%;
}

.ParserPage_box span {
    text-align: center;
    font-size: small;
    margin: 0 15px;
}

.ParserPage_button {
    padding: 10px;
    width: 100%;
}
