.Delivery {
    margin: 20px 0;
}

.DeliveryHeader {
    margin: 20px 0;
}

.DeliveryCalculation {
    border: 1px dashed lightgray;
    margin: 5px 0;
    padding: 0 10px;
}

.DeliveryButton {
    background-color: white;
    color:orange;
    padding: 10px;
    border: 1px dotted lightgray;
}

.DeliveryActionButton {
    background-color: orange;
    color:white;
    padding: 10px;
}

.DeliverySdekTariff {
    border: 1px solid lightgray;
    padding: 7px 10px;
    border-radius: 5px;
}