.Aside {
    background-color: var(--main-orange-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.AsideDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.AsideDivNavLink {
    border: 1px solid white;
    padding: 0 5px;
    border-radius: 10px;
    margin: 5px 3px 5px 0;
}

/* более 991 */
@media(min-width: 992px) {
    .Aside {
        margin: 10px 0;
    }
}
/* менее 992 */
@media(max-width: 991px) {
    .Aside {
        padding: 10px 15px;
    }
}
/* менее 575 */
@media(max-width: 575px) {
    .Aside {
        padding: 5px 15px;
    }
}
