
.FilterPrice {
    display: none;
    margin-right: 5px;
    padding: 0 10px;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid var(--main-silver-color);
    user-select: none;
}

.FilterPrice_span:first-child {
    margin-right: 20px;
    /* color: red; */
}

.FilterPrice_span {
    color: blue;
}