.AboutUs,
.AboutUsHead {
    margin-bottom: 10px;
}

.AboutUs header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.AboutUs label {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.AboutUs p,
.AboutUs strong,
.AboutUs span,
.AboutUs li {
    margin-bottom: 10px;
    font-size: 20px;
}

.AboutUs li {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px;
}