.Specials {
    margin-bottom: 10px;
}

.Specials header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}
.Specials label {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.Specials p,
.Specials strong,
.Specials span,
.Specials li {
    margin-bottom: 10px;
    font-size: 20px;
}

.Specials li {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px;
}