.Specials {
    margin-bottom: 10px;
}

.Specials header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}
.Specials label {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.Specials p,
.Specials strong,
.Specials span,
.Specials li {
    margin-bottom: 10px;
    font-size: 20px;
}

.Specials li {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px;
}

.Specials_PromoItem {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    /* background-color: rgb(216, 216, 216); */
    background-color: var(--main-silver-color);
    border-radius: 5px;
    margin-bottom: 20px;
}
.Specials_PromoItem_Header {
    display: flex;
}
.Specials_PromoItem_Image {
    display: flex;
    justify-self: center;
    align-self: center;
}
.Specials_PromoItem img {
    margin: 5px;
    height: auto;
}

.Specials_PromoItem_Body {
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    border: 1px dashed var(--main-white-color);
    /* background-color: antiquewhite; */
}
.Specials_PromoItem_Body_name {
    color: green;
}

.Specials_PromoItem_Body p {
    font-size: 0.8rem;
    /* color: #000; */
    color: var(--main-white-color);
}
.Specials_PromoItem_Body_article {}


.Specials_PromoItem_Footer {
    display: flex;
    width: 100%;
    /* background-color: aqua; */
    justify-content: space-between;
}
.Specials_PromoItem_Footer_price {
    color: #000;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    /* width: 100%; */
    /* background-color: aliceblue; */
    margin: 5px;
    padding: 5px;
}
.Specials_PromoItem_Footer_price_old span {
    text-decoration: line-through;
    margin-right: 10px;
    color: var(--main-grey-color);
}
.Specials_PromoItem_Footer_price_red {
    /* color: rgb(212, 2, 2); */
    color: var(--main-red-color);
    font-weight: 700;
}

.Specials_PromoItem_Footer_ButtonBuy {
    min-width: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 5px;
}

@media(max-width: 400px) {
    .Specials_PromoItem {
        width: 300px;
    }
    .Specials_PromoItem_Body span,
    .Specials_PromoItem_Footer_price,
    .Specials_PromoItem_Footer_price_old span,
    .Specials_PromoItem_Footer_price_red {
        font-size: 1rem;
    }
    .Specials_PromoItem_Body p {
        font-size: 0.6rem;
    }
}

@media(max-width: 350px) {
    .Specials_PromoItem {
        width: 250px;
    }
}
