.HusqvarnaParserPage {
    display: flex;
    flex-direction: column;
}

.HusqvarnaParserPage button {
    padding: 10px;
    margin: 5px;
}

.HusqvarnaParserPage label {
    text-align: center;
}

.HusqvarnaParserPage span {
    text-align: center;
    font-size: small;
}