.HusqvarnaParserPage {

}

.HusqvarnaParserPage_Header {
    display: flex;
    flex-direction: column;
}

.HusqvarnaParserPage_Header button {
    padding: 10px;
    margin: 5px;
}

.HusqvarnaParserPage_Header label {
    text-align: center;
}

.HusqvarnaParserPage_Header span {
    text-align: center;
    font-size: small;
}