
.Filter {
    border: 1px dashed rgb(0, 0, 0);
    margin-top: 1px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Filter_Menu {
    display: flex;
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
}

@media(max-width: 720px) {
    .Filter_Menu > * {
        padding: 10px;
        margin: 10px 10px;
    }
    
}