.ShopPage {
    background-color: var(--main-white-color);
    padding: 10px 10px;
}

.ShopRow {
    display: flex;
    flex-direction: row;
}
.ShopColCategory {
    width:30%;
}
.ShopColContent {
    width:70%;
}


@media (max-width: 991px) {
    .ShopColCategory {
        width:100%;
    }
    .ShopColContent {
        width:100%;
    }
    .ShopRow {
        flex-direction: column;
    }
}


@media (max-width: 575px) {
    .ShopProductList {
        border: 1px dashed rgb(0, 0, 0);
        padding: 10px 0 0 0;
        /* padding-top: 20px; */
        /* margin-bottom: 20px; */
        /* border: 1px dotted blue; */
    }
}


@media (max-width: 555px) {
    .ShopProductList {
        border: none;
        padding: 0;
    }
}
