.ShopPage {
    background-color: var(--main-white-color);
    padding: 10px 10px;
}

.ShopRow {
    display: flex;
    flex-direction: row;
}
.ShopColCategory {
    width:30%;
}
.ShopColContent {
    width:70%;
}

@media (max-width: 991px) {
    .ShopColCategory {
        width:100%;
    }
    .ShopColContent {
        width:100%;
    }
    .ShopRow {
        flex-direction: column;
    }
}