:root {
    --product-width-min: 251px; 
    --product-width-mid: 320px; 
    --product-width-mid-max: 340px; 
    --product-width-max: 500px; 
}

.ProductList {
    display:flex;
    justify-content:space-between; 
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;

}

.ProductItem {
    display:flex;
    justify-content:space-around; 
    align-items:center;
    margin-bottom: 10px;
    background-color: #fff;
}

.product-card {
    width: var(--product-width-min);
    cursor:pointer;
}

.product-image {
    width: var(--product-width-min);
    /* height: var(--product-width-min); */
}

.product-image-small {

}

@media (max-width: 1199px) {
    .product-card {
        width: var(--product-width-mid);
    }    
    .product-image {
        width: var(--product-width-mid);
        /* height: var(--product-width-mid); */
    }
}

@media (max-width: 991px) {
    .product-card {
        width: var(--product-width-mid-max);
    }    
    .product-image {
        width: var(--product-width-mid-max);
        /* height: var(--product-width-mid-max); */
    }
}

@media (max-width: 767px) {
    .product-card {
        width: var(--product-width-min);
    }    
    .product-image {
        width: var(--product-width-min);
        /* height: var(--product-width-min); */
    }
}


@media (max-width: 575px) {
    .ProductList {
        justify-content:space-around; 
    }
}
/* @media (max-width: 550px) {
    .ProductList {
        justify-content:space-between; 
    }
} */

@media (max-width: 555px) {
    .ProductList {
        justify-content:center; 
    }
    .product-card {
        width: 85vw;
    }    
    .product-image {
        width: 85vw;
        /* height: 85vw; */
    }
}

.product-body {
    padding: 10px;
}

.product-name {
    padding: 10px 0;
    font-size: 1em;
    height: 100px;
}

.product-text {
    padding: 10px 0;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

.product-description {}

.product-price {
    /* padding: 5px 0; */
    color: var(--main-orange-color);
    font-size: 1.2em;
}
.product-rating {
    display:flex;
}
