.ProductPage {
    background-color: var(--main-white-color);
    padding: 40px 20px 30px 20px;
}
.ProductMainBox {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ProductName {
    padding: 0 20px;
}
.ProductName,
.ProductImage, 
.ProductRating,
.ProductColCard,
.ProductCard {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.ProductImageDiv {    
    display: flex;
    flex-direction: row; 
    align-items: center; 
    padding-top:5px;
}
.ProductImageSmall {
    padding:5px;
}

.ProductCard {
    justify-content: space-around;
    width: 300px; 
    height: 300px; 
    font-size: 32px;
    border: 5px solid lightgray;
}
.ProductCardDivButtonBuy {
    padding: 20px;
}
.ProductCardButtonBuy {
    padding: 20px 0;
}

.ProductDescription,
.ProductInfo,
.ProductSize {
    padding: 10px 20px;
    margin: 5px;
    display: flex;
    flex-direction: column; 
}
.ProductDescriptionDiv {
    border: 1px dashed lightgrey; 
    padding: 10px; 
    margin-top: 10px;
    /* margin-bottom: 10px; */
}

.ProductInfoRowLight {
    background-color: lightgray;
    padding: 10px;
}

.ProductInfoRowTansparent {
    background-color: transparent;
    padding: 10px;
}

.ProductInfo li,
.ProductInfo td
 {
    border: 1px solid lightgrey;
    padding: 10px;
}

@media(max-width:991px) {
    .ProductMainBox {
        padding: 0 90px;
    }
}

@media(max-width:767px) {
    .ProductMainBox {
        padding: 0 30px;
    }
}

@media(max-width:400px) {
    .ProductMainBox {
        padding: 0;
    }
}