.SuccessPage {
    margin: 20px 0 20px 0;
}

.SuccessPage header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}
.SuccessPage p {
    text-align: center;
}

.SuccessPage label {
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 700;
}

.SuccessPage p,
.SuccessPage strong,
.SuccessPage span,
.SuccessPage li {
    margin-bottom: 10px;
    font-size: 20px;
}

.SuccessPage li {
    list-style-type: circle;
    padding-left: 10px;
    margin-left: 10px;
}