.NavBar {}

.NavBar_Container {}

.NavBar_Row {
    width: 100%;
    margin: 20px 0;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content:space-between;
}
.NavBar_Col_Buttons {
    display:flex;
}
.NavBar_Cart {
    display:flex;
    align-items: center;
}
.NavBar_Cart_Image {
    margin: 0 20px;
    border-radius: 50%;
    background-color: var(--main-white-color); 
    width: 50px;
    height: 50px;
}
.NavBar_Cart_Image:hover {
    background-color: var(--main-orange-color);
}

.NavBar_NavLink {
    color: var(--main-white-color); 
}

.NavBar_Logo {
    background-color: var(--main-white-color);
    padding: 10px;
    width: 150px;
}

@media(max-width:991px) {
    .NavBar_Row {
        margin: 0;
    }
    .NavBar_Cart_Image {
        margin: 0 10px;
    }
    .NavBar_Logo {
        padding: 5px;
        width: 125px;
    }
}

@media(max-width:390px) {
    .NavBar_Col_Buttons {
        align-items: center;
        flex-direction: column;
    }
    .NavBar_Cart{
        margin-bottom: 10px;
    }
    .NavBar_Col_Logo {
        margin-right: 5px;
    }
    .NavBar_Logo {
        padding: 2px;
        width: 115px;
    }
}