.Top {
    background-color: var(--main-silver-color);
    /* background-color: yellow; */
}

.TopContainer {}

.TopRow {
    display:flex; 
    justify-content:space-between; 
    align-items:center;
    
}
.TopCol {
    padding: 5px 0; 
}

.TopColLink {
    width:100%;
    margin-right: 10px;
}

.TopDivLink {
    width:100%;
    display:flex; 
    justify-content:space-between; 
    align-items:center;
}

.TopLinkStrong {}

.NavLink_Top,
.NavLink_Top_Specials {    
    padding: 7px 5px;
    /* margin-right: 10px; */
    border-radius: 5px;
}
.NavLink_Top:hover,
.NavLink_Top_Specials:hover {
    border: 1px solid rgb(179, 17, 17);
    color: rgb(179, 17, 17);
}
.NavLink_Top {
    color: var(--main-white-color);
    border: 1px solid var(--main-white-color);
}

.NavLink_Top_Specials {
    color: var(--main-orange-color);
    border: 1px solid var(--main-orange-color);
}

@media(max-width: 991px) {
    .NavLink_Top_Specials {
        /* margin-right: 0; */
    }
    .TopRow {
        flex-direction: column;
    }
    .TopColLink {
        margin-top: 5px;
        margin-right: 0;
    }
}
@media(max-width: 767px) {  
    .NavLink_Top {
        margin-right: 3px;
    }  
    .NavLink_Top,
    .NavLink_Top_Specials {    
        padding: 3px 1px;
    }
}
@media(max-width: 575px) {
    .TopRow {
        padding: 0 5px;
    }
    .TopCol {
        padding: 5px 10px; 
    }
    .TopColLink {
        font-size: 14px;
    }
}
@media(max-width: 500px) {  
    .TopColLink {
        font-size: 13px;
    }
    .NavLink_Top,
    .NavLink_Top_Specials {
        padding: 5px 1px;
    }
}
@media(max-width: 460px) {  
    .TopColLink {
        font-size: 12px;
    }
    .NavLink_Top,
    .NavLink_Top_Specials {    
        padding: 7px 1px;
    }
}
@media(max-width: 415px) {  
    .TopColLink {
        font-size: 10px;
    }
}
@media(max-width: 360px) {  
    .TopColLink {
        display: none;
    }
}