.FooterContacts {

}
.FooterContactsUl {
    margin-top: 20px;
}

.FooterContactsUl li {
    display: flex;
    flex-direction: row;
}

.FooterContactsUl li span {
    padding-top: 2px;
    margin-right: 10px;
    font-size: large;
}