.ChangePasswordPage {
    display: flex;
    flex-direction: column;
}

.ChangePasswordPage header {
    text-align: center;
}

.ChangePasswordPage_box {
    display: flex;
    flex-direction: column;
}

.ChangePasswordPage_box input {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ChangePasswordPage_box label {
    text-align: center;
    font-size: 1.2rem;
}

.ChangePasswordPage_box button {
    border-radius: 10px;
}

.ChangePasswordPage_red {
    color: red;
}
