
.ForgotPasswordPage header {
    text-align: center;
}

.ForgotPasswordPage_box {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.ForgotPasswordPage_box_input {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.ForgotPasswordPage_box label {
    text-align: center;
    font-size: 1.2rem;
}

.ForgotPasswordPage_box button {
    border-radius: 10px;
}
